.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 245, 247, 0.9);
    padding: 0.1rem 4rem;
}

.header.scrolled {
    box-shadow: 0 0 20px -3px #000000c5;
    position: sticky;
    top: 0;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.links {
    list-style: none;
    display: flex;
    border-bottom: 0px solid;
    padding: 0;
    margin: 0;

}

.links>li {
    margin: 0 1rem;
}

.links>li>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.selected-link {
    display: block;
    width: 100%;
    background-color: #004aad;  
    height: 2px;
    transition: 0.4s;
}

.not-selected-link {
    display: block;
    transition: 0.4s;
    height: 2px;
    width: 0;
}

.logo{
    width: 70px;
}


